$space-base: 5px;

$space-060: $space-base * 0.6;
$space-080: $space-base * 0.8;
$space-100: $space-base * 1;
$space-160: $space-base * 1.6;
$space-200: $space-base * 2;
$space-300: $space-base * 3;
$space-400: $space-base * 4;
$space-500: $space-base * 5;
$space-600: $space-base * 6;
$space-800: $space-base * 8;
$space-1000: $space-base * 10;
